body{
    background-color: #F29F58;
    /* justify-content: center; */
}
h1{
    color: #441752;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px;
}

ul li{
    list-style-type: none;
    color:#441752 ;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    width: 50%;
    transition:all 0.5s ease-in-out;
    -webkit-transform:all 2s ease-in-out;
    -moz-transform:all 2s ease-in-out;
    -ms-transform:all 2s ease-in-out;
    -o-transform:all 2s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    
}
ul li:nth-child(odd){
    background: rgb(158, 150, 150);
}
ul li:nth-child(even){
    background-color: aliceblue;
}
ul li:hover{
    background-color: rgb(198, 131, 131);
    border-radius: 40px;
    text-align: center;
    font-size: 40px;
    
    
}